language: haskell

dist: focal

branches:
  only:
    - master

cabal: "2.4"

matrix:
  include:
    - ghc: 8.6.5

addons:
  apt:
    packages:
      - z3
      - libgmp-dev
      - libicu-dev
      - zlib1g-dev

cache:
  timeout: 1500
  directories:
    - "$HOME/.cabal"
    - "$HOME/agda"
    - "$HOME/agda-stdlib"
    - "$HOME/agdarsec"
    - "$HOME/schmitty"

install:
  - cabal v1-update
  - cabal v1-install alex happy
  - AGDA_HOME=$HOME/agda make install-agda-source
  - AGDA_HOME=$HOME/agda make install-agda-dependencies
  - AGDA_HOME=$HOME/agda travis_wait 60 make install-agda
  - AGDA_STDLIB_HOME=$HOME/agda-stdlib make install-agda-stdlib
  - AGDARSEC_HOME=$HOME/agdarsec make install-agdarsec
  - SCHMITTY_HOME=$HOME/schmitty make install-schmitty
  - make register-z3

script:
  - AGDA=$HOME/.cabal/bin/agda make test
